@import url('toucan.css');

body {
	margin: 0px;
	text-align: center;
}

a {
	color: blue;
}

#content {
	margin: 0 auto;
	width: 960px;
	text-align: left;
}

#header {
	position: relative;
	width: 940px;
	margin: 0 auto 20px;
	text-align: left;
	padding: 10px;
	background: #eee;
	border-bottom: 3px solid #333;
	padding-bottom: 0;
}

#slideshow {
	text-align: center;
}

#slideshow object {
	margin: 10px auto;
}

#message {
	margin: 0 -10px;
	padding: 10px;
	background: #d9e1ef;
	display: none;
}

#message.error {
	background: #ef644d;
}

#message p {
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: 'Kreon';
}

h2 {
	margin-bottom: 20px;
}

p.intro {
	font-size: 1.5em;
}

p.login img {
	vertical-align: middle;
}

#user_status {
	position: absolute;
	top: 0;
	right: 10px;
	text-align: right;
	font-size: 0.8em;
	padding: 10px;
	background: #ddd;
}

#user_status p {
	margin-bottom: 5px;
}

#user_status img {
	height: 25px;
	vertical-align: middle;
}

#create_list {
	float: right;
}

#create_list > a {
	font-weight: bold;
}

#create_list_details {
	display: none;
	padding-left: 10px;
}

#members {
	margin-top: 10px;
	overflow: auto;
}

#members fieldset {
	width: 296px;
	padding: 0 0 0 10px;
	float: left;
	margin-right: 10px;
	border: none;
	border-top: 1px solid #333;
	margin-bottom: 0;
}

#members fieldset#to_remove {
	margin-right: 0;
}

#members ul {
	overflow: auto;
	height: 140px;
	margin-bottom: 0;
}

#members li {
	list-style-type: none;
	margin: 0 0 5px 0;
}

#members img {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}

#members .screen_name {
	display: none;
}

#members p {
	display: none;
}

#friends li {
	list-style-type: none;
	width: 187px;
	margin: 0 5px 30px 0;
	
	float: left;
}

#friends li:nth-child(5n+1) {
	clear: left;
}

/*
#friends li.hide {
	display: none;
}
*/

#friends li:hover {
	cursor: pointer;
}

#friends li img {
	float: left;
	width: 48px;
	height: 48px;
	margin: 0 3px 3px 0;
}

#friends .description {
	font-size: 0.8em;
	clear: left;
	color: #aaa;
}

#friends li:hover .description {
	color: #333;
}

#friends .screen_name {
	color: #333;
	font-size: 0.9em;
}

.steps {
	margin: 0 0 20px 0;
	overflow: auto;
}

.steps li {
	list-style-type: none;
	margin: 0;
	float: left;
	margin-right: 20px;
	width: 298px;
}

.steps li:last-child {
	margin-right: 0;
}

.steps figure {
	margin: 0;
}

.steps img {
	border: 1px solid #ccc;
}

.steps figcaption {
	font-style: italic;
	color: #777;
}