<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>lists dj</title>
	
	<link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" />
	<link rel="stylesheet" href="/css/main.css" />
	
	{% block extra_head %}{% endblock %}
</head>
<body>
	<div id="header">
		<h1>lists dj</h1>
		{% block user_status %}{% endblock %}
		{% block lists %}{% endblock %}
		<div id="message"></div>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23632726-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>