{% extends 'layout.twig' %}

{% block user_status %}
<p class="intro">Helping you to easily organise the people you follow on twitter into lists.</p> 

<p class="login"><a href="/connect"><img src="/images/twitter_sign_in.png" alt="sign in to twitter" /></a> to get started! Follow <a href="http://twitter.com/listsdj" target="_blank">@listsdj</a> for updates.</p>

<h2>Why not use twitter to manage my lists?</h2>

<p>With <strong>lists dj</strong>, we put the focus entirely on the list itself, and then allow you to click on the people you want to add or remove in a bulk action:</p>

<ol class="steps">
	<li>
		<figure>
			<img src="/images/why/dj_1_list.png" alt="" />
			<figcaption>Choose a list, or create a new one.</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="/images/why/dj_2_people.png" alt="" />
			<figcaption>Click on as many people to add.</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="/images/why/dj_3_save.png" alt="" />
			<figcaption>Save changes, and you're done.</figcaption>
		</figure>
	</li>
</ol>

<p>To do the same thing on twitter, these are the steps you have to take, multiplied by the number of people you want to add to a list:</p>

<ol class="steps">
	<li>
		<figure>
			<img src="/images/why/1_options.png" alt="" />
			<figcaption>On the persons profile, click the options.</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="/images/why/2_add_to_list.png" alt="" />
			<figcaption>Click on 'Add to list'</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<img src="/images/why/3_select_list.png" alt="" />
			<figcaption>Click on the list to add that person.</figcaption>
		</figure>
	</li>
</ol>

<p>If you want to add a lot of the people you follow to a list, this will take a long, long time.</p>



<h3>Other info</h3>
<p><strong>lists dj</strong> is still currently under development. There may be a few bugs lying around. Please do help me splat them; if something wrong happens, please <a href="https://bitbucket.org/davidwinter/lists-dj/issues/new" target="_blank">submit an issue</a>.</p>
<p>&copy; 2011 by <a href="http://djw.me" target="_blank">David Winter</a></p>
{% endblock %}