{% extends 'layout.twig' %}

{% block extra_head %}
<script src="/js/jquery-1.6.1.min.js"></script>
<script src="/js/jquery.masonry.min.js"></script>
<script src="/js/listsdj.js?2=2"></script>
<script src="/js/main.js"></script>
{% endblock %}

{% block user_status %}
	<div id="user_status">
		<p>logged in as <strong>{{ user.screen_name }}</strong> <img src="{{ user.profile_image_url }}" alt="" /> <a href="/logout">logout</a></p>
	</div>
{% endblock %}

{% block lists %}
	<div id="submitted_changes">
		<select name="list_id" id="lists">
			<option value="">Please select a list&hellip;</option>
			{% for list in lists %}
			<option value="{{ list.id }}">{{ list.name }}</li>
			{% endfor %}
		</select>
		<button id="save" disabled="disabled">Save changes to list</button>
		<button id="delete" disabled="disabled">Delete list</button>
		
		<div id="create_list">
			<a href="#">create a new list</a>
			
			<div id="create_list_details">
				<label for="new_list_name">Name:</label> 
				<input type="text" id="new_list_name" name="new_list_name" />
				<button id="create_new_list">Create</button>
				<a href="#">&times; cancel</a>
			</div>
		</div>
		
		<div id="members">
		
			<fieldset id="existing">
				<legend>Existing</legend>
				<ul></ul>
			</fieldset>
			
			<fieldset id="to_add">
				<legend>To add</legend>
				<ul></ul>
			</fieldset>
			
			<fieldset id="to_remove">
				<legend>To remove</legend>
				<ul></ul>
			</fieldset>
			
		</div>
	</div>
{% endblock %}

{% block content %}
	<h2>the people you follow:</h2>
	{% if friends %}
	<script type="text/javascript">
		{% autoescape false %}
		var list_data = {{ lists|json_encode }};
		{% endautoescape %}
	</script>
	<ul id="friends">
		{% for friend in friends %}
			<li id="friend_{{ friend.id }}">
				<div>
					<img src="{{ friend.profile_image_url }}" alt="" />
					<div class="name">{{ friend.name }}</div>
					<div class="screen_name">{{ friend.screen_name }}</div>
					<p class="description">{{ friend.description }}</p>
					<input type="hidden" name="" value="{{ friend.id }}" />
				</div>
			</li>
		{% endfor %}
	</ul>
	{% endif %}

{% endblock %}