{% extends 'layout.twig' %}

{% block user_status %}
	<h2>Manage</h2>
	<h3>Authenticated users</h3>
	{% if users %}
	<table>
		<thead>
			<tr>
				<th>Screen name</th>
				<th>Last modified</th>
				<th>Lists</th>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
		<tr>
			<td><a href="http://twitter.com/{{ user.screen_name }}" target="_blank">{{ user.screen_name }}</a></td>
			<td>{{ user._last_modified.sec|date("d/m/Y H:i:s") }}</td>
			<td>{{ user.lists|length }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endif %}
{% endblock %}