{% extends 'layout.twig' %}

{% block extra_head %}
<script src="/js/jquery-1.6.1.min.js"></script>
<script>
	$(function() {
		$.getJSON('/do-scrape', function(data) {
			if (data) {
				window.location.pathname = '/';
			}
		});
	});
</script>
{% endblock %}

{% block lists %}
<h2>Sit back!</h2>
<p class="intro">We need to grab your lists data and the people you follow from twitter so you can start managing your lists. <strong>This page will redirect automatically when everything is ready.</strong> In the meantime, enjoy these cute dogs.</p>

<div id="slideshow">
	<object width="700" height="525"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fsearch%2Fshow%2F%3Fq%3Dcute%2Bdogs%26ss%3D2&page_show_back_url=%2Fsearch%2F%3Fq%3Dcute%2Bdogs%26ss%3D2&method=flickr.photos.search&api_params_str=&api_text=cute+dogs&api_tag_mode=bool&api_safe_search=3&api_media=all&api_sort=relevance&jump_to=&start_index=0"></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&lang=en-us&method=flickr.photos.search&api_params_str=&api_text=cute+dogs&api_tag_mode=bool&api_safe_search=3&api_media=all&api_sort=relevance&jump_to=&start_index=0" width="700" height="525"></embed></object>
</div>

<p>We store this data for an hour, and after that we'll refresh it again to make sure that it's all up-to-date.</p>

<p>Depending on how many lists you have, and the number of people you follow, this may take a few minutes.</p>

{% endblock %}
